
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<style>

    .dx-textbox {
        height: 34px;
    }

    .dx-button {
        width: 100%;
    }

    .modal a.close-modal {
        right: 1.5px !important;
        top:2.5px !important
    }

</style>
<div class="card card-block card-stretch card-height">
    <div class="card-header" style="text-align:center">
        <div class="header-title">
            <h4 class="card-title"> Smart Gas Meter UART Communication</h4>
        </div>
    </div>
    <div class="card-body" id="bodyData">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button id="connectButton" class="btn btn-primary">Connect via Serial Port</button>
                <div id="target"></div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

      
    });
    let port;
    let log;
 
    function toHexString(byteArray) {
        var hexString = '';
        for (var i = 0; i < byteArray.length; i++) {
            var hex = byteArray[i].toString(16);
            if (hex.length === 1) {
                hex = '0' + hex;
            }
            hexString += hex + ",";
        }
        return hexString.slice(0, -1);
    }
    function getAsciiBytes(str) {
        var encoder = new TextEncoder();
        var byteArray = encoder.encode(str);
        return Array.from(byteArray);
    }
    $('#connectButton').click(function () {
        if (navigator.serial) {
            connectSerial();
        }
        else {
     alert('Web Serial API not supported.');
      }
    });
    //document.getElementById('connectButton').addEventListener('click', () => {
    //    if (navigator.serial) {

    //        $('#myLink').click();


    //    } else {
    //        alert('Web Serial API not supported.');
    //    }
    //});


    async function connectSerial() {
        log = document.getElementById('target');

        try {

            port = await navigator.serial.requestPort();
            await port.open({ baudRate: 4800 });

            const decoder = new TextDecoderStream();

            port.readable.pipeTo(decoder.writable);

            const inputStream = decoder.readable;
            const reader = inputStream.getReader();
            const writer = port.writable.getWriter();

            var password = "";
            var passwordInput = document.createElement("input");
            passwordInput.type = "password";
            var a = window.prompt("Enter password:");
            var length = a.length;
            var paddedStr = length.toString().padStart(2, '0');
            var keyByte = getAsciiBytes(a);
            const hexString1 = toHexString(keyByte);
            const Password = hexString1.replace(/,/g, ' ');
            const hexString = "02 03 00 " + paddedStr + " 7E " + Password;
            const byteArray = hexString.split(' ').map(hex => parseInt(hex, 16));
            const data = new Uint8Array(byteArray);
            await writer.write(data);
            // Allow the serial port to be closed later.
            writer.releaseLock();
            if (a == "12345678") {
                $('#target').val("Authenticated")
            }
            else {
                $('#target').val("Incorrect Password")
            }
            while (true) {
                const { value, done } = await reader.read();
                if (value) {
                    log.textContent += value + '\n';
                }
                if (done) {
                    console.log('[readLoop] DONE', done);
                    reader.releaseLock();
                    break;
                }
            }

        } catch (error) {
            log.innerHTML = error;
        }
    }
</script>
