
@{
    ViewBag.Title = "BatteryTemprature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-block card-stretch card-height">
    <div class="card-header" style="text-align:center">
        <div class="header-title">
            <h4 class="card-title">AMR Health</h4>
        </div>

    </div>

    <div class="card-body">
        <div id="AMRHealth"></div>
    </div>
</div>

<script src="~/Scripts/grid/AMRHealthGraph.js"></script>