
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <iframe title="SLAReport" width="1024" height="750" src="https://app.powerbi.com/view?r=eyJrIjoiYWFhYmZjNWItZjE1OS00NWU5LTg3OGItZDA2NGM0ODRhNGY2IiwidCI6ImY1Yjk5YWEyLWY2NDctNGJjMy04MjBlLTc0M2Y0N2JhYWQ4NCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-4"></div>
</div>
