
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .dx-textbox {
        height: 34px;
    }

    .dx-button {
        width: 100%;
    }
</style>
<div class="card card-block card-stretch card-height">

    <div class="card-header" style="text-align:center">
        <div class="header-title">
            <h4 class="card-title">Meter Information</h4>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <label for="SelectMeter">Select Meter</label>
                <div id="SelectMeter"></div>
            </div>
            <div class="col-md-2">
                <label for="MeterSerialNumber">Meter Serial Number</label>
                <div id="MeterSerialNumber"></div>
            </div>
            <div class="col-md-2">
                <label for="MeterID">Meter ID</label>
                <div id="MeterID"></div>
            </div>
            <div class="col-md-1">
                <label for="FWVer">FW Ver No.</label>
                <div id="FWVer"></div>
            </div>
            <div class="col-md-1">
                <label for="HWVer">HW Ver No.</label>
                <div id="HWVer"></div>
            </div>
            <div class="col-md-1">
                <label for="HWSr">HW Sr No.</label>
                <div id="HWSr"></div>
            </div>
            <div class="col-md-2">
                <label for="LegalSwVerNo">Legal Sw Ver No.</label>
                <div id="LegalSwVerNo"></div>
            </div>
            <div class="col-md-1">
                <label for="NonLegalSwVerNo">Non-Legal Sw Ver No.</label>
                <div id="NonLegalSwVerNo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label for="AppName">App Name</label>
                <div id="AppName"></div>
            </div>
            <div class="col-md-2">
                <label for="SimIMSI">SIM IMSI</label>
                <div id="SimIMSI"></div>
            </div>
            <div class="col-md-2">
                <label for="TotalDataRecord">Total Data Record</label>
                <div id="TotalDataRecord"></div>
            </div>
            <div class="col-md-3">
                <label for="MCUNO">MCU No</label>
                <div id="MCUNO"></div>
            </div>
            <div class="col-md-1">
                <label for="FlashID">Flash ID</label>
                <div id="FlashID"></div>
            </div>

            <div class="col-md-2">
                <label for="ModemIMEI">Modem IMEI</label>
                <div id="ModemIMEI"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="PrivateKey">Private Key</label>
                <div id="PrivateKey"></div>
            </div>
            <div class="col-md-2">
                <label for="ModemFW">Modem FW</label>
                <div id="ModemFW"></div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div id="ReadSystemParameters"></div>
        </div>
        <div class="col-md-4">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
</div>
<script>
     var Jsondata = @Html.Raw(Json.Encode(ViewBag.data));
</script>
<script src="~/Scripts/grid/MeterInformation.js"></script>
