
@{
    ViewBag.Title = "Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-lg-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Select Meter</h4>
            </div>
        </div>
        <div class="card-body">
            <div id="SelectMeter1"></div>
        </div>
    </div>

</div>

<div class="loadpanel"></div>

<div class="col-sm-12 col-lg-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Balance</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <button id="btnAddBalance" class="btn btn-primary">Add Balance</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" id="lblAddBalance">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="btnGetBalance">Get Balance</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" readonly id="lblGetBalance">
            </div>
        </div>
    </div>

</div>

<div class="col-sm-12 col-lg-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">VAT</h4>
            </div>
        </div>
        <div class="card-body volume">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="btnSetVAT">SET Vat</button>
                </div>
                <input type="text" class="form-control" placeholder="0 %" aria-label=""  id="lblSetVAT">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="btnGetVat">Get VAT</button>
                </div>
                <input type="text" class="form-control" placeholder="0 %" aria-label="" readonly id="lblGetVat">
            </div>
        </div>
    </div>

</div>
<div class="col-sm-12 col-lg-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Tariff</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" type="button" id="btnGetTariff">Get Tariff</button>
                    </div>
                    <input type="text" class="form-control" placeholder="0 Rs" aria-label="" readonly id="lblGetTariff">
                </div>
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" type="button" id="btnSetTraiff">Set Tariff</button>
                    </div>
                    <input type="date" class="form-control"  placeholder="Select Date" id="lblTraiffDate">
                    <input type="time" class="form-control"  placeholder="Select Time" id="lblTraiffTime">
                    <input type="text" class="form-control" placeholder="Enter Amount Rs" id="lblTraiffAmount">
                </div>

            </div>

        </div>
    </div>

</div>

<script>
    var Jsondata = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<script src="~/Scripts/grid/BillingParameters.js"></script>