
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .dx-textbox {
        height: 34px;
    }

    .dx-button {
        width: 100%;
    }
</style>


<div class="card card-block card-stretch card-height">
    <div class="card-header" style="text-align:center">
        <div class="header-title">
            <h4 class="card-title"> Smart Gas Meter Terminal</h4>
        </div>
    </div>
    <div class="card-body" id="bodyData">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <label for="SelectMeter">Select Meter</label>
                <div id="SelectMeter"></div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Data
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="terminalArea"></div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div id="LogsSend"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div id="Send"></div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                D2C Logs (Last Received Log)
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div id="d2cLogs"></div>
            </div>

        </div>
    </div>
    <div class="loadpanel"></div>
</div>
<script>
    var Jsondata = @Html.Raw(Json.Encode(ViewBag.data));
    
</script>

<script src="~/Scripts/grid/Terminal.js"></script>
